#section1 {
    overflow: hidden;
    width: 100vw;
    max-width: 1100px;
    height: fit-content;
}

.main-wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    padding-bottom: 90px;
    padding-top: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    flex-shrink: 0;
}

.pictures {
    display: flex;
    align-items: flex-start;
    gap: 19px;
    overflow: hidden;
    width: 90%;
    height: 388px;
    justify-content:center
}


.pictures_grp2{
    display: flex;
    width: 567px;
    height: 388px;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    flex-shrink: 0;
}

.grp2_1{
    display: flex;
    width: 564px;
    align-items: flex-start;
    gap: 19px;
}

.grp2_2{
    display: flex;
    width: 564px;
    height: 195px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}


.img-container {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_pictures1{
    object-position: 90%;
}

.img1{
    width: 318px;
    height: 387.5px;
    flex-shrink: 0;

}

.img2{
    width: 380px;
    height: 172px;
    flex-shrink: 0;

}

.img3{
    width: 165px;
    height: 172px;
    flex-shrink: 0;
}

.img4{
    height: 195px;
    flex-shrink: 0;
    align-self: stretch;
}

.img_pictures {
    width: 100%; /* L'image remplit complètement le conteneur */
    height: 100%;
    object-fit: cover;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13rem;
}

.text_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    color: #60591B;
}



.span_thcb {
    color: #60591B;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-size: 1rem;
    font-weight: 800;
    line-height: normal;
}

.palmier_pictures {
    width: 17rem;
    height: 13rem;
    flex-shrink: 0;
    object-fit: cover;
}

.avis{
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #60591B;
    color: #60591B;
    gap: 10px;
}

.social-media-google{
    width: 28.594px;
    height: 30px;
    fill: #60591B;

}

@media (max-width: 1000px){

    .pictures{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .pictures_grp2{
        width: fit-content;
    }

    .grp2_1{
        width: fit-content;
    }



    .img2{
        width: 318px;
        height: 387.5px;
        flex-shrink: 0;
    }

    .img3{
        display: none;
    }

    .grp2_2{
        display: none;
    }

}


@media (max-width: 660px) {
    #section1 {
        height: fit-content;
    }

    .pictures {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }


    .img-container {
        border-radius: 15px;
        overflow: hidden;
        width: 280px;
        height: 280px;
        display: flex;
        box-shadow: 7px 4px 9px 0px rgba(0, 0, 0, 0.25);
    }

    .pictures_grp2{
        height: fit-content;
    }

    .grp2_1{
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 50px;
    }

    .img1 {
        display: none;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 90%;
        gap: 10vh;
    }

    .palmier_pictures {
        width: 15rem;
        height: 5rem;
        flex-shrink: 0;
        object-fit: cover;
    }
}
