#section1 {
    overflow: hidden;
    width: 100vw;
    height: fit-content;
}

.main-wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 15vh 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    flex-shrink: 0;
}

.pictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    overflow: hidden;
    width: 90%;
}

.img-container {
    border-radius: 15px;
    overflow: hidden;
    width: 280px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;    
    border-color: #60591B;
    box-shadow: 7px 4px 9px 0px rgba(0, 0, 0, 0.25);
}

.img_pictures {
    width: 100%; /* L'image remplit complètement le conteneur */
    height: 100%;
    object-fit: cover;
    object-position: 70%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13rem;
    width: 90%;
}

.text_description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    color: #60591B;
}

.span_maison {
    color: #60591B;
    font-family: "Montserrat Alternates";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.span_thcb {
    color: #60591B;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.palmier_pictures {
    width: 25rem;
    height: 13rem;
    flex-shrink: 0;
    object-fit: cover;
}

@media (max-width: 660px) {
    #section1 {
        height: fit-content;
    }

    .pictures {
        display: flex;
        flex-direction: column;
    }

    .img-container {
        border-radius: 15px;
        overflow: hidden;
        width: 280px;
        height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid;    
        border-color: #60591B;
        box-shadow: 7px 4px 9px 0px rgba(0, 0, 0, 0.25);
    }

    .img1 {
        display: none;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 13rem;
        width: 90%;
        gap: 2vh;
    }

    .palmier_pictures {
        width: 15rem;
        height: 5rem;
        flex-shrink: 0;
        object-fit: cover;
    }
}
