@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'Gyst';
    src: url('fonts/fonnts.com-Gyst_Variable_Light_Italic.otf') format('truetype');
}


html {
    scroll-behavior: smooth;
}


*{
    padding: 0;
    margin:0 ;
    outline: none;
    border: none;
    box-sizing: border-box;
}


.container{
    overflow-x: hidden;
    margin: auto;
    padding: 5rem 2rem;
    background-color: gb(253, 244, 244);
    ;
    
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex; 
    justify-content: center;
    align-items: center;
}

nav{
    position: fixed;
    margin: auto;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    transition: top 0.5s ease-in-out, position 0.5s ease-in;
    z-index: 1000;
    background: linear-gradient(to top,transparent 10% ,#60591B );
    width: 100%;
    padding-right: 8vw;
    
}

.logo{
    width: 15vw;
}

.telephone a{
    text-decoration: none;
    color:#E3DAC7;
       
}



img{
    width: 100%;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Montserrat+Alternates', sans-serif;
    margin: 0;
    background-color: #E3DAC7;
    height: 100vh;
}





.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    text-shadow:1vh 0vh 3vh #E3DAC7 ;

}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #E3DAC7;
}




.link a::after{
    content: "";
    position: absolute;
    height: 1.5px;
    width: 0;
    bottom: 1;
    left: 0;
    background-color: #453F1A;
    transition: all 0.4s ease;
}

.link a:hover::after{
    width: 100%;

}

.nav-links a:hover{
    color: #453F1A;
}




header{
    height: 100vh;
    width: 100%;
    background-image: url(Texture/ombre\ palmier\ texture.png);
    background-size: cover;
    font-family:'Poppins', sans-serif;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden; 
}




.Thaisquare{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-shadow:1vh 1vh 3vh #453F1A;

}


header H1{
    color:#453F1A;
    font-family: "Gyst";
    font-size: 130px;
    font-weight: 900;
    word-spacing: 50px;

}

header h2{
    font-weight: 400;
    color: #453F1A;
    letter-spacing: -2px;
}




#section1{
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family:'gyst', sans-serif;
    font-weight: 200;

}



.textelocal{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.titreplat{
    letter-spacing: -2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titreplat H1{
    font-weight: 500;
    font-size: 10vh;
    color:#60591B;
}

.adresse{
    font-family: "Montserrat Alternates", sans-serif;
    color: #453F1A;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.description{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgfacade{
    flex: 1;
    height: 100%; /* Assure-toi que sa hauteur est définie */
    width: 100%;  /* Si nécessaire */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imgfacade img{
    width: 70%;
    height: 50%;
    border-radius: 3%;
}


#section2{
    background-color: #60591B;
}


.plats{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}


.exempleimages{
    font-family:'poppins';
    text-align: center;
    border-radius: 5px;

}



.exempleimages img{
    transition: all 0.7s ease;

}

.exempleimages img:hover{
    transform: translateY(-15px) scale(1.0);

}

.exempleimages a{
    color: #ffffff;
    font-size: 15px;
    padding-top: 5px;
    
}


.menu{
    width: 100%;
    display: flex;
    padding-top: 50px;
    gap: 55px;
    overflow-y: hidden;
    
}

.textmenu{
    display: flex;
    font-size: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 25%;
}

.imagemenu{
    width: 50%;
    
}


.fondvert{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.envie{
    font-family: "Montserrat Alternates", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.envie h1{
    font-weight: 300;
    font-size: 20px;
}

.envie h2{
    font-weight: 300;
}


.boutoncarte {
    transition: all 0.7s ease;

}   



.boutoncarte a{
    text-decoration: none;
    color:#E3DAC7;
    word-spacing: 1px;
}


.boutoncarte a:hover{
    text-decoration: none;
    color: #230404;
}


.boutoncarte:hover{
    transform: translateY(-9px) scale(1.1);
}



footer{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    padding: 4rem 2rem;
    text-align: center;
    border-top: 1px black solid;
    gap: 10px;
    width: 70%;
}




footer a{
    color: black;
}



@media (max-width:1000px){

    
    .container{
        overflow-x: hidden;
    }
    
    .nav-links{
        display: table-column;
    }

    header .image::before{
        display: none;
    }

    header H1{
        font-size: 90px;
    }

    header .image{
        grid-area: 1/1/2/2;
    }


    .localisation{
        display: flex;
        flex-direction: column;
        gap: 100px;
           
    }


    footer{
        grid-template-columns: 1fr 200px;
    }

    .features{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:600px){

    .container{
        overflow-x: hidden;
    }

    header .image::before{
        display: none;
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    header H1{
        font-size: 90px;
    }

    nav{
        flex: 2;

    }

    .logo{
        width: 30%;        
    }

    .links{
        color: #000;
    }

    #section1{
        overflow-x: hidden;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    .textelocal{
        padding-top: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titreplat H1{
        font-size: 8vh;
    }

    .adresse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:25px;
        text-align: center;
    }

    .adresse h3{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .imagemenu{
        display: none;
    }
    
    .menu{
        display: flex;
        flex-direction: column;
    }

    .textmenu{
        font-size: 10px;
        width: 100%;
        height: 50%;
    }

    .fondvert{
        width: 100%;
        height: 50%;
        justify-content: center;
        text-align: center;

    }

    .boutoncarte{
        width: 100%;
        height: 100%;
    }

    .telephone i{
        font-size: 25px;
    }
    
    .phone-number{
        display: none;
    }



    footer{
        grid-template-columns: 1fr 150px;
    }


}

@media (max-width:361px){

    .container{
        overflow-x: hidden;
    }
    
    .nav-links{
        display: table-column;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    
    }

    header H1{
        font-size: 70px;
    }

    header .image{
        grid-area: 1/1/2/2;
    }


    .plats{
        width: 100%;
    }

    footer{
        grid-template-columns: 1fr 200px;
    }

}